<%= @survey.title  %>

<form action = "<%= survey_url(@survey) %>/take" method = "POST">
  <ol>
    <% @questions.each do |question|%>
      <li><p><%= question.content %></p>
      <% question.options.each do |option|%>
        <p><input type = "radio" name = "answer[<%= question.id %>]" value = "<%= option.content %>"  ><%= option.content %></p>
      <% end %>
    <% end %></li>
  </ol>
  <input type= 'submit'>
</form>

