<%= @survey.title  %>

<form action = "<%= survey_url(@survey) %>" method = "POST">
  <ol>
    <% count = 1 %>
    <% @questions.each do |question|%>
      <li><p><%= question.content %></p>
      <% question.options.each do |option|%>
        <p><input type = "radio" name = "<%= count %>" value = "<%= option.content %>"  ><%= option.content %></p>
      <% end %>
      <% count += 1 %>
    <% end %></li>
  </ol>
  <input type= 'submit'>
</form>

