
<div class="show-form">
<h2> <%= @survey.title  %> </h2>

<form action = "<%= survey_url(@survey) %>" method = "POST">
  <ol>
    <% count = 1 %>
    <% @questions.each do |question|%>
      <li><h4><%= question.content %>?</h4>
      <!-- ILUVU: Maybe an each_with_index here too -->
      <% question.options.each do |option|%>
        <p><input type = "radio" name = "<%= count %>" value = "<%= option.content %>"  ><%= option.content %></p>
      <% end %>
      <% count += 1 %>
    <% end %></li>
  </ol>
  <input type= 'submit'>
</form>
</div>
